
           body {
            margin: 0;
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        header {
            background-color: #b5a0ff; /* Azul escuro */
            color: white;
            text-align: center;
            padding: 10px;
        }

        main {
            display: flex;
            flex: 1;
        }

        .coluna1 {
            background-color: rgb(0, 255, 213);
            flex: 7; /* 70% de largura */
            padding: 10px;
        }

        .coluna2 {
            background-color: rgb(131, 199, 255);
            flex: 3; /* 30% de largura */
            padding: 10px;
        }

        footer {
            background-color: #ecf0f1; /* Cinza claro */
            text-align: center;
            padding: 10px;
        }

