
        body {
            background-color: #b0e0e6;
            font-family: Arial, sans-serif;
            padding: 55px;
        }

        form {
            background-color: #fff;
            padding: 55px;
            border-radius: 8px;
            width: 300px;
            margin: auto;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 4px;
            border: 1px solid #ccc;
            background-color: #e0f7fa;
        }

        button {
            background-color: #ff5722;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            background-color: #ff3d00;
        }

